/*
*   key functions:
*       position absolute limited at deck-like area
*       (ctrl+f search) deck-like area, limited at
*/


/*
*  
*
*
*/

/* whole body */

body {
    user-select: none;
    overflow: hidden;
    background: #007D3B;
    height: 100%;
    min-height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*--cardWidth: calc(1vw*calc(99/11));*/
    --cardWidth: calc(1vw*calc(99/11));
    /* --cardWidth: 7vw; */
    /* --cardWidth: 100%; */
    /*--cardPadding: calc(9vw/26);*/
    --cardPadding: calc(6vw/26);
    --TableBackground: green;
    --TableOffsetY: calc(var(--cardWidth)/3);
    --StockOffsetX: 2px;
    --StockOffsetY: 6px;

    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

body {
    /* saves loading an image, looks better than a solid darkgreen background */
    background-image: url('data:image/webp;base64,UklGRpgAAABXRUJQVlA4IIwAAAAwBACdASoeAB4APikSh0KhoQoCAAwBQllYz41AABFV/n8AItOaJepDavAA/vkKUe5BGtPR5aeKP/4hd7G2///gzv/f1X/gzv/BmUX9cJtST/Z9T/XsQq/MQV+1v8m2uukhu3nFYS/A5iTPpyXsMLAwk6xasWWFDPdx7OkWouLHKfqaoozRIW3R5D5MAA==');
    background-size: cover;
}

/*@media screen and (min-width: 1280px) {*/
@media screen and (min-width: 1280px) {
    body {
        --cardWidth: 100px;
    }
}

/* end whole body */

/*main,*/


main {
    flex: 1;
    width: 100%;
    /* background: var(--TableBackground); */
    /* height: 70vh; */
}


/* card related? */

cardts-card {
    float: left;
    /*width: 100%;*/
    width: 60%;
    cursor: grab;
    z-index: 2;
}

img {
    box-sizing: border-box;
    border: 4px solid var(--cardBorderColor, transparent);
    border-radius: 12px;
    transform: scale(1);
}

cardts-ZONE {
    /* to cardts zone template !!!! */
    width: 100%;
}

/* end card related? */






#OldMaid {
    /* 3 column grid */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    /*grid-template-areas: "Deck Table Foundation";*/
    grid-column-gap: 1em;
}

#Deck {
    /* force Deck cards smaller, because Table cards are smaller with grid-padding between piles */
    padding: 0 5%;

    /*  from original css
        #Deck,
        #TableFoundations { 
    
        since no longer co using, put then inside self */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.validDropPile {
    /* mark cards/pile where dragging sequence can be dropped (Solitaire/OldMaid rules) */
    background: darkgreen;
}

/* CARDTS-ZONE related
    co using
    position relative looks like top card slightly outside*/
#Deck CARDTS-ZONE,
.table-Piles CARDTS-ZONE,

#DraggingPile CARDTS-ZONE {
    /* relative container so absolute positioned cards are contained in the container */
    position: relative;
}

/* end CARDTS-ZONE related*/

/* select and clicked dash box*/

#SelectionSequenceCards {
    position: absolute;
    left: var(--SelectionBorderBoxLeft, 0);
    top: var(--SelectionBorderBoxTop, 0);
    border: var(--SelectionBorder, 2px solid blue);
    width: var(--SelectionBorderBoxWidth);
    height: var(--SelectionBorderBoxHeight);
    border-radius: 12px;
    cursor: grab;
    z-index: var(--SelectionBorderBoxZindex, 25);
}

#ClickedSequenceCards {
    position: absolute;
    left: var(--SelectionBorderBoxLeft, 0);
    top: var(--SelectionBorderBoxTop, 0);
    border: var(--SelectionBorder, 2px solid blue);
    width: var(--SelectionBorderBoxWidth);
    height: var(--SelectionBorderBoxHeight);
    border-radius: 12px;
    cursor: grab;
    z-index: var(--SelectionBorderBoxZindex, 25);
}

/* end select and clicked dash box*/


/* CARDTS-CARD related 
    co using
    position absolute limited at deck-like area*/
#Deck CARDTS-CARD:nth-child(n+2),
.table-Piles CARDTS-CARD,

#DraggingPile CARDTS-CARD {
    /* display additional cards on top */

    position: absolute;
    left: 0;
}

/* end CARDTS-CARD related */


#Stock {
    min-height: calc(var(--cardWidth)*1.0);
}

#Stock :nth-child(1) {
    top: calc(3 * var(--StockOffsetY));
    left: calc(3 * var(--StockOffsetX));
}

#Stock :nth-child(2) {
    top: calc(2 * var(--StockOffsetY));
    left: calc(2 * var(--StockOffsetX));
}

#Stock :nth-child(3) {
    top: calc(1 * var(--StockOffsetY));
    left: calc(1 * var(--StockOffsetX));
}



/* prepare for changing to TableVerPiles */
.table-Piles {
    display: grid;
}

/* follow oldmaid */
.hor-Piles {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . . . . . .";
    grid-gap: 6px;
}

.table-Piles cardts-ZONE[id*='Pile'] {
    /* to cardts zone template !!!! */
    width: 100%;
    /* make sure the whole page height is a drop-zone */
}



#DraggingPile {
    position: absolute;
    left: 0;
    top: 0;
    /* cursor: grabbing; */
    visibility: hidden;
    /*width: var(--cardWidth, '50px');*/
    width: var(--cardWidth, calc(1vw*calc(99/11)));
    z-index: 10;
    /* border: 2px solid hotpink; */
}

.warn-msg {
    color: red;
    background-color: yellow;
}

.end-msg {
    color: blue;
    background-color: lightgreen;
}
