
:root{
    --pile-len: 12;
}

.piles {
    display: grid;
    grid-template-columns: repeat(var(--pile-len), 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.selected {
    background: orange;
}

.played {
    background: #CFCFCF;
    color: gray;
}